<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	<div class="alert alert-primary" th:if="${message != null}"
		th:text="${message}"></div>
	<div class="card">
		<div class="card-header">
			<p class="text-primary">Editar Receita</p>
		</div>
		<div class="card-body">
			<form method="POST" th:object="${receita}"
				th:action="@{/receitas/new}">
				<input type="hidden" th:field="*{receitaId}">
				<div class="form-group mb-3">
					<label for="nome">Nome da Receita:</label> <input
						class="form-control" type="text" th:field="*{nome}" required></input>
				</div>
				<div class="form-group mb-3"></div>
				<label for="tempoPreparo">Tempo de preparo:</label> <input
					class="form-control" type="number" th:field="*{tempoPreparo}"
					required></input>
				<div class="text-danger"
					th:if="${#fields.hasErrors('tempoPreparo')}"
					th:errors="*{tempoPreparo}"></div>
				<p class="h5 mt-2">Ingredientes:</p>
				<table class="table table-borderless">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Quantidade</th>
							<th>Unidade de Medida</th>
							<th>Opções</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${listaItem}">
							<td th:text="${item.ingrediente.nome}"></td>
							<td th:text="${item.quantidade}"></td>
							<td th:text="${item.unidadeMedida.nome}"></td>
							<td><a class="btn btn-danger btn-sm"
								th:href="@{/itens/delete(id=${item.id})}"
								onclick="return confirm('Você realmente deseja excluir esse ingrediente?')">Remover</a>
							</td>
						</tr>
					</tbody>
				</table>
				<a class="btn btn-primary btn-sm mb-3" th:href="@{/itens/new}">Adicionar
					Ingrediente</a>
				<!-- Modo Preparo -->
				<div class="form-group">
					<label for="modoPreparo">Modo de Preparo</label>
					<textarea class="form-control" rows="3" th:field="*{modoPreparo}"></textarea>
				</div>
				<button type="submit" class="btn btn-primary mt-2" id="salvar">Salvar
					Receita</button>
				<a class="btn btn-primary mt-2" type="button"
					href="javascript:history.back()">Voltar a página anterior</a>
			</form>
		</div>
	</div>
</div>

</html>
